Carthage/
Pods/
Static Framework Sample/ContentsquareModule/ContentsquareModule/ContentsquareModule.xcframework
Static Framework Sample/ContentsquareModule/SwiftProtobuf.xcframework
Static Framework Sample/ContentsquareModule/ContentsquareModule/Resources
Static Framework Sample/ContentsquareModule/ContentsquareModule/ContentsquareErrorAnalysisModule.xcframework

# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/