Pods/
Static Framework Sample/ContentsquareModule/ContentsquareModule.xcframework
Static Framework Sample/ContentsquareModule/CSCrashReporter.xcframework
Static Framework Sample/ContentsquareModule/CSSwiftProtobuf.xcframework
Static Framework Sample/ContentsquareModule/Resources

# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/